@media only screen and (min-width: 900px)
{
#modal-header {
		background: linear-gradient(45deg, #303f9f, #7b1fa2) !important;
		border-radius: 0 0 2px 2px;
		
		padding-top:3%;
		height: 56px;
		width: 100%;
	}
#modal-header h4{
	color:white;
	text-align:center;
	font-size:24px !important;
}	
#modal_add_edit{
	width:40% !important;
}
ul.stepper .step .step-title:hover {
	background:none !important;
}

	
}
@media only screen and (min-width: 601px) and (max-width: 900px)
{
#modal_add_edit{
	width:60% !important;
}
#modal-header h4{
	color:white;
	text-align:center;
	font-size:24px !important;
}	
#modal-header {
			background: linear-gradient(45deg, #303f9f, #7b1fa2) !important;
            border-radius: 0 0 2px 2px;
            
            padding-top:3%;
            height: 56px;
            width: 100%;
		}
		
	
	ul.stepper .step .step-title:hover {
		background:none !important;
		}
}
@media only screen and (max-width: 600px)
{
	#modal_add_edit{
	width:75% !important;
}
#modal-header {
			background: linear-gradient(45deg, #303f9f, #7b1fa2) !important;
            border-radius: 0 0 2px 2px;
           
            padding-top:3%;
            height: 56px;
            width: 100%;
		}
		#modal-header h4{
			color:white;
			text-align:center;
			font-size:24px !important;
		}	
	
	ul.stepper .step .step-title:hover {
		background:none !important;
		}
}