/*----------------------------------------
    Login Page
------------------------------------------*/
.login-bg
{
    background-image: url('../../images/gallery/flat-bg.png');
    height: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#login-page
{
    display: -webkit-box;
    display: -webkit-flex;
    display:    -moz-box;
    display: -ms-flexbox;
    display:         flex;

    height: 100vh; 

    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
    -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
    -ms-flex-align: center;
            align-items: center;
}
#login-page .card-panel.border-radius-6.login-card
{
    margin-left: 0 !important;
	margin-top: 100px;
}

.gradient-45deg-purple-deep-orange-login {
    background: #8e24aa;
    background: -webkit-linear-gradient(45deg, #8e24aa, #ff6e40) !important;
    background: -moz- oldlinear-gradient(45deg, #8e24aa, #ff6e40) !important;
    background: -o-linear-gradient(45deg, #8e24aa, #ff6e40) !important;
    background: linear-gradient(45deg, #f04b36, #ff6e40) !important;
}


